{% extends "oswizard ForumBundle::layout.html.twig" %}

{% block title %}
{{post.title}}
{% endblock %}

{% block subtitle %}
{{parent()}}-{{post.title}}
{% endblock %}

{% block forum_body %}
<div>
    <h3>{{post.title}}</h3>
    <h5>{{post.User.username}}</h5>
    <h5>{{post.section.name}}</h5>
    <i>{{post.date|date("Y/m/d")}}</i>
    <p>{{post.content}}</p><br />
</div>
{% endblock %}
