{% extends "oswizardForumBundle::layout.html.twig" %}

{% block title %}
{{section.name}}
{% endblock %}

{% block subtitle %}
{{parent()}}-{{section.name}}
{% endblock %}

{% block forum_body %}
<ul>
    {% for post in posts %}
    <li>
        <a href="{{path('oswizardforum_showPost', {'idPost':post.id})}}">{{post.title}}</a>
    </li>
    {% else %} <li>No posts to show</li>
    {% endfor %}
</ul>
<a href="{{ path('oswizardforum_addPost', {'idSection':section.id}) }}" class="btn">
    add post
</a>
{% endblock %}
